<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>22433603872-6inp7g1531is1593oefgdvjtsac99orp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.22433603872-6inp7g1531is1593oefgdvjtsac99orp</string>
	<key>API_KEY</key>
	<string>AIzaSyBvCNyyGiY3evI-iMcG24LtYvUqQQ8lsJQ</string>
	<key>GCM_SENDER_ID</key>
	<string>22433603872</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.gsf.sudokuzeta</string>
	<key>PROJECT_ID</key>
	<string>sudoku-zeta</string>
	<key>STORAGE_BUCKET</key>
	<string>sudoku-zeta.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:22433603872:ios:105ab2022bf3fc00373745</string>
</dict>
</plist>